@mixin text($fontSize, $lineHeight, $color:false) {
    font-size: $fontSize * 1px;
    line-height: $lineHeight * 1px;
    
    @if($color){
    	color: $color;
    }
}
@mixin inlineMiddle(){
	display: inline-block;
	vertical-align: middle;
}

.IndexPage{
    &__logo {

    }
    &__title {
        @include text(21, 24);
    }
    &__sub-title {
        @include text(13, 15);
    }

    &-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        & > .text-secondary {
            margin: 0 0 0 1rem;
            @include text(13, 13);
        }
    }
}
