@import './mixins';

.IndexPage{
    &__logo {
        text-align: center;
    }
    &__title {
        @include text(18, 21);
        margin: 0;
    }
    &__sub-title {
        @include text(11, 13);
    }

    &-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        & > .text-secondary {
            margin: 0 0 0 1rem;
            @include text(13, 13);
        }
    }
    &__container {
        @include inlineMiddle();
        text-align: left;
    }
}
