@import '../mixins';
.FeatureItem {
    cursor: pointer;
    &__address {
        @include text(13, 15);
        margin: 0 0 0.2rem 0;
    }
    &__title {
        @include text(18, 21);
        margin: 0;
    }
}